<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://unpkg.com/simple-statistics@7.8.2/dist/simple-statistics.min.js"></script>
    <script src="{{url_for('static', filename='jquery.csv.js')}}"></script>
    <link rel="stylesheet" href="../static/style.css">
    
    <title>Signal Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <h1>Live Signal Viewer</h1>
    <h3>By team 1</h3>

    <div class="row">
        <div class="plot-container">
        <div class="column" id="channel1">
            <div class="upload">
            <label for="avatar">Choose a Signal file:</label>
            <input type="file"
                   id="sig1" name="signal1"
                   accept=".xlsx, .xls, .csv">
                   <br><br>
                   <label for="Show/Hide" id="show_lbl1">Hide</label>
                   <input type="checkbox" id="Show/Hide">
            </div>
            <div id="plot1"></div>
            <br>
            <div class="controls">
                <button id="playBtn">Play</button>
                <button id="pauseBtn">Pause</button>
                <input type="color" id="color">
            </div>
           
            <div class="box1">
                <label for="cinespeed" id="cinespeed_lbl">Cinespeed:</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="cinespeed">
                <label for="rewind" id="rewind_lbl1">Auto Rewind</label>
                <input type="checkbox" id="rewind"><br><br>
                <button id="stats" onclick="pdf()">Download statistics file</button><br><br>
                <div class="input-box"><input type="text" id ="label1" > </div>
                <button type="button" id="lab" onclick="getlabel()">Add label</button>
            </div>
           
        </div>
        <div class="column" id="channel2">
            <div class="upload">
                <label for="avatar2">Choose a Signal file:</label>
                <input type="file"
                       id="sig2" name="signal2"
                       accept=".xlsx, .xls, .csv">
                       <br><br>
                       <label for="Show/Hide2" id="show_lbl2">Hide</label>
                       <input type="checkbox" id="Show/Hide2">
            </div>
            <div id="plot2"></div>
            <br>
            <div class="controls"><button id="playBtn2">Play</button>
                <button id="pauseBtn2">Pause</button>
                <input type="color" id="color2">
            </div>
            <div class="box1">
                <label for="cinespeed2" id ="cinespeed_lbl2">Cinespeed:</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="cinespeed2">
                <label for="rewind2" id="rewind_lbl2">Auto Rewind</label>
                <input type="checkbox" id="rewind2"><br><br>
                <button id="stats2" onclick="pdf2()">Download statistics file</button><br><br>
                <div class="input-box"> <input type="text" id ="label2" > </div>
                <button type="button" id="lab2" onclick="getlabel2()">Add label</button>
            </div>
                
            </div>
    </div>
    </div>
    </div>

    <label for="link" id="link_lbl">Link</label>
    <input type="checkbox" id="link">
    
    <script src="../static/index.js"> </script>
</body>
</html>